/* userprofile.css */

.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
}

.user-profile-container h1 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4CAF50;
  margin-bottom: 15px;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-input {
  display: none; /* Hide default input */
}

.file-label {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

.file-label:hover {
  background-color: #45a049;
}

.upload-button,
.change-button {
  background-color: #008CBA;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
  margin-top: 10px;
}

.upload-button:hover,
.change-button:hover {
  background-color: #007bb5;
}

.hidden {
  display: none;
}
.remove-button:hover{
  background-color: #eb2e57;
}

.remove-button{
  background-color: #ba000f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
  margin-top: 10px;
}
